node_modules
npm-debug.log
.ssh
node_modules_*
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
build/*
dist/*
package-lock.json*
yarn-error.log
yarn-debug.log*
tmp
bundle-stats.json
.vscode